---

---
<header class="a-bx-row bg-1">
    <nav class="a-vbx a-vbx-rsp">
        <div class="links a-bx-row">
            <a href="https://github.com/Torbatti/torbatti-web">گیت هاب</a>
            <a href="/blog">بلاگ</a>
            <a href="/">صفحه اصلی</a>
        </div>
    </nav>
</header>

<style lang="scss">
    nav{
        // border: 2px dashed black;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 1rem 0;
    }
    .links{
        display: flex;
        justify-self: reverse;
        justify-content: space-between;
        @media (min-width: 768px) {
            justify-content: right;
        }
    }
    .links a{
        padding:0 .5rem;
        &:last-child{
            padding-right: 0 0;
        }
    }
</style>