---
import BaseLayout from "./BaseLayout.astro";

import Header from "../../components/Base/Header.astro";
import Footer from "../../components/Base/Footer.astro";

const {title} = Astro.props;
---

<BaseLayout title={title}>
	<Header/>
	<main class="a-box-page bg-1">
        <slot/>
	</main>
	<Footer/>
</BaseLayout>

<style lang="scss">

</style>
